{% extends "layout.html" %}
{% block content %}
<div class="form-group">
  <label for="fun" class="col-sm-4 col-md-4 control-label text-right"><h1>いぬさんは有罪ですか?</h1></label>
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          {% for id in ids %}
              <div id="{{id}}"></div>
          {% endfor %}
        </p>
        <!--
        <form action="/post" method="post" class="form-inline">
          <input type="text" class="form-control" id="name" name="name" placeholder="Name">
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block grapher %}
    var graphs = {{graphJSON | safe}};
    var ids = {{ids | safe}};

    for(var i in graphs) {
        Plotly.plot(ids[i], // the ID of the div, created above
            graphs[i].data,
            graphs[i].layout || {});
    }
{% endblock %}

